.quicksand{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style:normal;
}

body{
    /* padding: 0 80px; */
    box-sizing: border-box;
    font-family: "Quicksand", serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.logo{
    display: flex;
    color: rgb(17, 17, 17);
    width: 200px;
    height: 60px;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-size: 20px;
    font-weight: 500;
    gap: 32px;
    list-style-type: none;
}
.link1{
    color: rgb(254, 163, 1);
}
.link2{
    color: rgb(1, 172, 253);
}
.link3{
    color: rgb(5, 212, 223);
}
.link4{
    color: rgb(93, 88, 239);
}

.button1{
    background-color:rgb(254, 163, 1);
    color:rgb(255, 255, 255);
    padding: 10px;  
    width: 170px;
    height: 40px;
    font-size: 17px;
    border: none;
    border-radius: 12px;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    gap: 50px;
}

.heading{
    color: rgb(17, 17, 17);
    font-size: 48px;
    font-weight: 700;
}

.word1{
    color:rgb(254, 163, 1);
    font-size: 48px;
    font-weight: 700;
}
.word2{
    color:rgb(1, 172, 253);
    font-size: 48px;
    font-weight: 700;
}

.paragraph{
    font-size: 19px;
    color: rgb(17, 17, 17);
}

.button2{
    border-radius: 12px;
    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    width: 180px;
    height: 45px;
    font-size: 17px;
    padding: 10px;
}

.banner-image{
    width: 468px;
    height: 575px;
}





.curriculum{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    padding: 60px;
    background-image: url(../images/bg.png);
    /* gap: 40px; */
}

.curriculum h2{
    color: rgb(0, 0, 0);
    font-size: 45px;
    font-weight: 700;
}

.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 80px;
}

.card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgb(222, 245, 255),rgba(255, 255, 255, 0));
    padding-top: 55px;
}
.card2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgb(255, 244, 220), rgba(255, 255, 255, 0));
    padding-top: 55px;
}
.card3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgb(242, 232, 255),rgba(255, 255, 255, 0));
    padding-top: 55px;
}

.anchor1{
    color:rgb(100, 200, 255);
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 30px;
}
.anchor2{
    color:rgb(240, 170, 0);
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 30px;
}
.anchor3{
    color:rgb(135, 0, 255);
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 30px;
}

.curriculum button{
    background-color: rgb(254, 163, 1);
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 24px;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    border: none;
}

.all-story{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/bg.png);
    background-image: linear-gradient( rgba(255, 255, 255, 0.3), rgba(254, 163, 1, 0.3));
    padding-bottom: 60px;
}

.all-story h2{
    color: rgb(0, 0, 0);
    font-size: 45px;
    font-weight: 700;
}
.stories{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding: 80px 80px;
}

.large-stories img, .small-stories img{
    width: 100%;
}

.small-stories{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap:24px;
}

.large-stories, .story{
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
}

.large-stories-text, .small-stories h4{
    padding: 30px 30px;
}

.all-story img{
    border-radius: 16px 16px 0px 0px;
}

.all-story button{
    border-radius: 12px;
    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    width: 180px;
    height: 45px;
    font-size: 17px;
    padding: 10px;
}





footer{
    display: flex;
    background-color: rgb(1, 172, 253);
    justify-content: space-between;
    color: rgb(255, 255, 255);
    padding: 80px 80px;
}

footer .left{
    display: flex;
    flex-direction: column;
}

.part1{
    display: flex;
}
.part1 img{
    width: 81px;
    height: 80px;
}

footer .middle{
    display: flex;
    flex-direction: column;
}

footer .middle ul{
    list-style-type: none;
    line-height: 35px;
    text-align: left;
    padding: 0;
}

footer .right{
    display: flex;
    flex-direction: column;
    align-items: center;
}