.quicksand{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style:normal;
}

body{
    /* padding: 0 80px; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}
.Hamburger_icon{
    display: none;
}
.logo{
    display: flex;
    color: rgb(17, 17, 17);
    width: 200px;
    height: 60px;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-size: 20px;
    font-weight: 500;
    gap: 32px;
    list-style-type: none;
}
.link1{
    color: rgb(254, 163, 1);
}
.link2{
    color: rgb(1, 172, 253);
}
.link3{
    color: rgb(5, 212, 223);
}
.link4{
    color: rgb(93, 88, 239);
}

.button1{
    background-color:rgb(254, 163, 1);
    color:rgb(255, 255, 255);
    padding: 10px;  
    width: 170px;
    height: 40px;
    font-size: 17px;
    border: none;
    border-radius: 12px;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    gap: 50px;
}

.heading{
    color: rgb(17, 17, 17);
    font-size: 48px;
    font-weight: 700;
}

.word1{
    color:rgb(254, 163, 1);
    font-size: 48px;
    font-weight: 700;
}
.word2{
    color:rgb(1, 172, 253);
    font-size: 48px;
    font-weight: 700;
}

.paragraph{
    font-size: 19px;
    color: rgb(17, 17, 17);
}

.button2{
    border-radius: 12px;
    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    width: 180px;
    height: 45px;
    font-size: 17px;
    padding: 10px;
}

.banner-image{
    width: 468px;
    height: 575px;
}





.curriculum{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    padding: 60px 0;
    background-image: url(../images/bg.png);
    /* gap: 40px; */
}

.curriculum h2{
    color: rgb(0, 0, 0);
    font-size: 45px;
    font-weight: 700;
}

.cards{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    padding: 80px 80px;
    gap: 20px;
}

.card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    border: 0.94px solid rgb(222, 245, 255);
    padding: 55px 20px 60px;
    border-radius: 15px;
}
.card2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    border: 0.94px solid rgb(255, 244, 220);
    padding: 55px 20px 60px;
    border-radius: 15px;
}
.card3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    border: 0.94px solid rgb(242, 232, 255);
    padding: 55px 20px 60px;
    border-radius: 15px;
}

.anchor1{
    color:rgb(100, 200, 255);
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 30px;
}
.anchor2{
    color:rgb(240, 170, 0);
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 30px;
}
.anchor3{
    color:rgb(135, 0, 255);
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 30px;
}

.curriculum button{
    background-color: rgb(254, 163, 1);
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 24px;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    border: none;
}

.all-story{
    display: flex;
    flex-direction: column;
    align-items: center;
    background:linear-gradient( rgba(255, 255, 255, 0.3), rgba(254, 163, 1, 0.3)), url(../images/bg.png);
    padding-bottom: 60px;
}

.all-story h2{
    color: rgb(0, 0, 0);
    font-size: 45px;
    font-weight: 700;
}
.stories{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding: 80px 80px;
}

.large-stories img, .small-stories img{
    width: 100%;
}

.small-stories{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap:24px;
}

.large-stories, .story{
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
}

.large-stories-text, .small-stories h4{
    padding: 30px 30px;
}

.all-story img{
    border-radius: 16px 16px 0px 0px;
}

.all-story button{
    border-radius: 12px;
    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    width: 180px;
    height: 45px;
    font-size: 17px;
    padding: 10px;
}





footer{
    display: flex;
    background-color: rgb(1, 172, 253);
    justify-content: space-between;
    color: rgb(255, 255, 255);
    padding: 80px 80px;
}

footer .left{
    display: flex;
    flex-direction: column;
}

.part1{
    display: flex;
}
.part1 img{
    width: 81px;
    height: 80px;
}

footer .middle{
    display: flex;
    flex-direction: column;
}

footer .middle ul{
    list-style-type: none;
    line-height: 35px;
    text-align: left;
    padding: 0;
}

footer .right{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    background-color: #f4f4f4;
    color: #333;
    padding: 10px;
  }
  
  .marquee p {
    display: inline-block;
    animation: marquee 10s linear infinite;
  }
  
  @keyframes marquee {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }



  @media screen and (max-width:576px) {

    .nav h2,button{
        display: none;
    }

    .nav-links{
        display: none;
    }

    .nav{
        padding:10px 10px;
        border: 0.5px solid rgb(254, 163, 1);
    }

    .Hamburger_icon{
        display: flex;
        width: 22.5px;
        height: 25px;
    }


    .banner{
        flex-direction: column-reverse;
        padding:0;
        gap: 0;
        justify-content: center;
    }
    .banner-image img{
        width: 380px;
    }
    .banner-image{
        text-align: center;
    }

    .banner p{
        font-size: 12px;
    }

    .banner-text{
        text-align: center;
    }
    .heading, .word1, .word2{
        font-size: 32px;
        padding: 0px;
    }

    .cards{
        flex-direction: column;
        padding: 36px 28px;
    }
    .curriculum h2{
        text-align: center;
        font-size: 26px;
    }

    .curriculum button{
        visibility: hidden;
        /* display: none; */
    }

    .curriculum{
        padding-bottom: 20px;
    }

    .all-story h2{
        font-size: 26px;
    }


    .large-stories{
        display: none;
    }

    .story h4{
        font-size: 9.13px;
    }

    .stories{
        padding: 20px;
        grid-template-columns: repeat(1, 1fr);
    }

    .small-stories h4{
        padding: 20px;
    }

    footer{
        flex-direction: column;
        text-align:start;
        padding: 20px;
        align-items:start;
    }

    footer .right{
        align-items: flex-start;
        
    }

    footer h4{
        font-size: 20px;
    }

    footer .middle{
        font-size: 16px;
    }


  }